<p id="notice"><%= notice %></p>
<h1>
  SecurityDevices
</h1>

<table>
  <thead>
    <tr>
      <th style="border: 1px solid black;">
        Id
      </th>
      <th style="border: 1px solid black;">
        Name
      </th>
      
        <th colspan='2' style="border: 1px solid black;">
          MotionSensor
        </th>
      
        <th colspan='2' style="border: 1px solid black;">
          SoundSensor
        </th>
      
        <th colspan='2' style="border: 1px solid black;">
          VibrationSensor
        </th>
      
      <th style="border: 1px solid black;">
        &nbsp;
      </th>
    </tr>
    <tr>
      <th>
        &nbsp;
      </th>
      <th>
        &nbsp;
      </th>
      
        
          <th>
            port_number
          </th>
        
          <th>
            motion
          </th>
        
      
        
          <th>
            port_number
          </th>
        
          <th>
            data
          </th>
        
      
        
          <th>
            port_number
          </th>
        
          <th>
            threshold_exceeded
          </th>
        
      
      <th>
        &nbsp;
      </th>
    </tr>
  </thead>
  <tbody>
    <% @security_devices.each do |object| %>
      <% if object.motion_sensor.motion == true || object.sound_sensor.data > 100 || object.vibration_sensor.threshold_exceeded == true %>
        <tr id='<%= object.apiotics_instance %>' style="background-color: #ff0000 !important;">
      <% else %>
        <tr id='<%= object.apiotics_instance %>'>
      <% end %> 
        <td>
          <%= object.apiotics_instance %>
        </td>
        <td>
          <%= object.name %>
        </td>
        
          
            <td class='security_device-motion_sensor-port_number'>
              <%= object.motion_sensor.port_number %>
            </td>
          
            <td class='security_device-motion_sensor-motion'>
              <%= object.motion_sensor.motion %>
            </td>
          
        
          
            <td class='security_device-sound_sensor-port_number'>
              <%= object.sound_sensor.port_number %>
            </td>
          
            <td class='security_device-sound_sensor-data'>
              <%= object.sound_sensor.data %>
            </td>
          
        
          
            <td class='security_device-vibration_sensor-port_number'>
              <%= object.vibration_sensor.port_number %>
            </td>
          
            <td class='security_device-vibration_sensor-threshold_exceeded'>
              <%= object.vibration_sensor.threshold_exceeded %>
            </td>
          
        
        <td>
          <%= link_to "Edit", edit_security_device_path(object)%>
          <%= link_to "Show", security_device_path(object) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
